@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: theme('colors.brand.200');
  border-radius: 999px;
}

.skeleton {
  @apply animate-pulse bg-neutral-200 rounded-lg;
}
